@import "../../helpers/ui/mixins.module.scss";

.shopItemContainer {
  @include media-min-width(601px) {
    display: flex;
    width: 420px;
  }

  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer;

  .cardStyle {
    width: 80%;
    height: 300px;
  }
}

.imgContainer {
  position: relative;
}

.imgContainer::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
  background-color: red;
  opacity: 0.7;
}
