@import "../../helpers/ui/_variables.module.scss";

.footerContainer {
  margin-top: 50px;
  padding: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-component-color;
}