* {
  margin: 0;
  padding: 0;
}

.appContainerMobileBurgerOpened {
    display: flex;
    flex-direction: row;
}

.hideSideBar {
  display: none;
}

.app {

  @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
      }

      .body {
        position: relative;
      }
  }

}

.burgerOpened {
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}
