* {
  margin: 0;
  padding: 0;
}

.app {

  @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
      }

      .body {
        position: relative;
      }
  }

}

.burgerOpened {
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;


    // .body {
    //  padding-left: 5;
    // }
  }
}
