.filmDetailContainer {
    margin-top: 40px;
    width: 80%;

    @media only screen and (max-width: 600px){
        width: 100%;
    }

  .imagesContainer {
    display: flex;
    margin-top: 20px;

    img {
      width: 45px;
      height: 45px;
    }
  }
}
