.latestNewsAndBlogsContainer {
  width: 80%;
  margin-top: 45px;

  @media only screen and (max-width: 601px) {
    width: 100%;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogItemsContainer {
  display: flex;

  @media only screen and (max-width: 601px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}